<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visão Lógica - Sobre Nós</title>
    <style>
        body {
            background: black;
            color: white;
        }
    </style>
</head>
<body>

    <header>
        <h1>Visão Lógica - Sobre Nós</h1>
    </header>

    <main>
        <nav>
            <a href="{% url 'novaapp:inicio' %}">Início</a>
            <a href="{% url 'novaapp:servicos' %}">Serviços</a>
        </nav>
        <h2>Conheça a Visão Lógica</h2>
        <p>Visão Lógica é uma empresa sediada em Torres Veras, fornecendo assistência técnica especializada e soluções de tecnologia para empresas desde 1999.</p>
        <p>Nossos serviços incluem:</p>
        <ul>
            <li>Assistência em software PHC e Primavera</li>
            <li>Venda e aluguel de equipamentos informáticos</li>
        </ul>
        <p>Nossa equipe de profissionais altamente qualificados está comprometida em fornecer as melhores soluções tecnológicas para nossos clientes, garantindo operações sem interrupções e eficiência.</p>
    </main>

    <footer>
        <p>&copy; 2024 Visão Lógica - Todos os direitos reservados.</p>
    </footer>

</body>
</html>
