body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.hero {
    background-image: url('{% static "portfolio/images/wallpaper.jpg" %}');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
    text-align: center;
}

.menu ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.menu ul li {
    margin: 0 1rem;
}

.menu ul li a {
    color: red;
    text-decoration: none;
}

.hero-content h1 {
    font-size: 3rem;
    margin: 0;
}

.hero-content p {
    font-size: 1.5rem;
}

.controls {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
}

#dark-mode-toggle {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

body.dark-mode {
    background-color: #121212;
    color: white;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: red;
}

.subtitle {
  color: orange;
}


.line {
  width: 40px;
  height: 5px;
  background-color: #0078ff;
  margin: 0 auto;
}


div.parallax {
   margin: 30px;
  border: 3px solid black;
}

.parallax {
  background-image: url("https://images.unsplash.com/photo-1531297484001-80022131f5a1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHdhbGxwYXBlciUyMHRlY2h8ZW58MHx8MHx8fDI%3D");
  min-height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  background-image: url("https://images.unsplash.com/photo-1531297484001-80022131f5a1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHdhbGxwYXBlciUyMHRlY2h8ZW58MHx8MHx8fDI%3D");
  min-height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

b {
  color: dodgerblue;
}



